.button{
    color: white;
    font-family: $font;
    background-color: $light-blue;
    border: 0;
    padding: .25em 1em;
}

.button--torquoise{
    background-color: $turquoise;
}

.button--pink{
    background-color: $pink;
}

.button--xxl{
    font-size: $xx-large;
}
