//colores
$turquoise: #81f4e1;
$light-blue: #56cbf9;
$pink: #ff729f;
$white: #fff;
$gray: #979797;

//fuentes
$font: monospace;

//font-size
$xx-large: 3rem;

//font-weight

$regular: 400;
$bold: 700;
$semi-bold: 600;