.ejercicio_2{
    justify-content: center;

    div.contenedor{
        display: flex;
        width: 80vw;
        height: 50px;
        justify-content: center;
        margin-top: 50px;

        input{
            border: 1px solid $gray;
            box-sizing: border-box;
            flex-grow: 1;
        }

        button{
            width: 100px;
            border: 1px solid $gray;
            box-sizing: border-box;
        }
    }
}

