.ejercicio_2{
    justify-content: center;

    div.contenedor{
        display: flex;
        width: 80vw;
        height: 40px;
        justify-content: center;
        margin-top: 50px;

        input{
            width: 80%;
            border: 1px solid $gray;
            box-sizing: border-box;
        }

        button{
            width: 70px;
            border: 1px solid $gray;
            box-sizing: border-box;
        }
    }
}

